---
title: '"ГАЛЕРЕЯ СИСТЕМА" – Негосударственное Некоммерческое Учреждение Культуры'
---
<div class="row">
<div class="col-md-offset-3 col-xs-6" style="text-align: center;">
<p class="lead">Дорогие друзья!</p>
<p>В преддверии новогодних праздников, мы приглашаем вас на необычный концерт, аукцион и фуршет.</p>
<p>Два года назад мы проводили встречу в "походных" условиях в башне на Милютинском переулке. АФК "Система" посвятила созданию нового пространства искусства последние несколько лет. Проект в башне объединил вокруг себя талантливых музыкантов, художников и просто неравнодушных людей.</p>
<p>Несмотря на то, что реставрационные работы в башне временно приостановлены - музыка продолжает наполнять нас.</p>
<p>Приглашаем вас стать причастными к нашему культурному движению и поучаствовать в аукционе дорогих и памятных подарков. Средства, собранные во время концерта, будут использованы на развитие этого уникального проекта.</p>
<p class="lead">Ждем вас <span class="bg-info" style="display: inline-block; padding: 0 10px;">21 декабря в 17:00</span> в Атриуме Клуба 8.</p>
<p>В 17:00 вечер откроется фортепианным сочинением «В ожидании Героя» Мартынова в исполнении автора.</p>
<p>В 18:00 Аукцион и фуршет!</p>
<iframe src="//player.vimeo.com/video/113953003" width="500" height="313" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
</div>
